#footer {
	background: #fff;
	padding: 0;
	width: 100%;
	min-height: 60px;
	text-align: center;
	padding: 20px 0;
	line-height: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	&.row {
		max-width: 100%;
	}
	.social-links {
		line-height: 20px;
		
		a {
			color: rgba(0,0,0,0.3);	
			margin-left: 15px;
		}
		p {
			font-size: 14px;
			margin: 0;	
		}
	}
	.menu {
		display: block;
		margin: 0;
		li {
			display: inline-block;
			
			a {
				font-size: 12px;	
			}
			&:first-child a {
				margin-left: 0;	
			}
		}
	}
}